@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: slateblue;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Muve to center vertcally */
  height: 100vh;
  justify-content: center;
  /* Preents scrollbar from showing by default */
  overflow: hidden;
}

.btn {
  background-color: #fff;
  color: slateblue;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(1.1);
}

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  color: slateblue;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}
